* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.sidebar {
    background-color: rgba(25, 146, 212);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.308);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    z-index: 1;
}

.content {
    background-color: rgba(226, 232, 240);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}