* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
}

.sidebar {
    background-color: rgba(25, 146, 212);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    gap: 25px;
    align-content: start;
}

.dash {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 600;
    font-size: 24px;
}

.dash svg {
    margin: 0;
    padding: 0;
    fill: white;
    width: 48px;
}

button {
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

button svg {
    width: 24px;
}

button:hover {
    fill: rgb(226, 226, 226);
    color: rgb(226, 226, 226);
}

.sidebar-item,
.dash {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    gap: 1rem;
    padding: 1rem;
    justify-content: start;
}

.header {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.199);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    min-height: 200px;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr 2fr;
    /* outline: red solid 1px; */
}

.search,
.acc-info,
.search-bar {
    display: grid;
    grid-auto-flow: column;
}

.search {
    grid-template-columns: 2fr 1fr;
    padding-top: 20px;
    box-sizing: border-box;
}

.acc-info {
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.acc-info p {
    font-size: 1.2rem;
}

.search-bar {
    grid-template-columns: auto 1fr;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.search-icon {
    padding-left: 15px;
}

.bar {
    height: 60%;
    background-color: rgba(226, 232, 240);
    border: none;
    border-radius: 50px;
    padding: 5px;
    box-sizing: border-box;
}

.utilities {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    justify-content: center;
    align-items: center;
}

.util-button {
    background-color: rgba(25, 146, 212);
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    font-weight: 400;
    font-size: 1rem;
}

.greeting {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.acc-pic-big {
    padding-left: 20px;
}

.acc-pic-big div {
    background-color: rgb(99, 99, 99);
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.greet-text {
    font-size: .8rem;
    font-weight: 300;
}

.acc-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.buttons {
    padding-right: 15px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 30px;
}

.content {
    background-color: rgba(226, 232, 240);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    /* outline: red solid 1px; */
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto 1fr;
    margin-left: 15px;
    margin-bottom: 50px;
    /* outline: red solid 1px; */
}

.p-title {
    margin: 20px 0 5px 0;
    font-weight: 600;
    font-size: 1rem;
}

.projects .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    height: 100%;
    /* outline: red solid 1px; */
}

.card {
    background-color: white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.199);
    border-radius: 6px;
    border-left: 6px solid rgb(240, 180, 41);
    height: 100%;
    padding: 30px 15px 15px 15px;
    box-sizing: border-box;
    /* outline: red solid 1px; */
}

.content-container {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    /* outline: red solid 1px; */
}

.card-title {
    font-weight: 600;
    font-size: 1vw;
}

.card-content {
    font-size: .8vw;
    color: rgb(99, 99, 99);
    /* outline: red solid 1px; */
}

.icons {
    justify-self: end;
    align-self: end;
}

.icon {
    fill: rgb(51, 51, 51);
    padding: 5px;
    width: 17px;
}

.icon:hover {
    background-color: rgb(209, 209, 209);
    border-radius: 50%;
    scale: .9;
}

hr {
    border: none;
    height: 1px;
    background-color: rgb(207, 207, 207);
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-right: 25px;
    padding: 20px 0 10px 0;
}

.ann-click {
    background-color: white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.199);
    border-radius: 6px;
    height: 100%;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}

.post {
    padding: 10px 5px 10px 5px;
}

.a-title,
.t-title {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 5px;
}

.post-title {
    font-weight: 600;
    font-size: .8rem;
}

.post-text {
    font-size: .7rem;
    color: rgb(99, 99, 99);
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-right: 25px;
    padding: 20px 0 50px 0;
}

/* Affects Top Right Profile too */
.acc-pic {
    background-color: rgb(99, 99, 99);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}