* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.sidebar {
    background-color: rgba(25, 146, 212);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.199);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    min-height: 111px;
    z-index: 1;
}

.content {
    background-color: rgba(226, 232, 240);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto 1fr;
    margin-left: 15px;
    margin-bottom: 50px;
}

.p-title {
    margin: 20px 0 5px 0;
    font-weight: 600;
    font-size: 1rem;
}

.projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    gap: 25px;
    height: 100%;
}

.card {
    background-color: white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.199);
    border-radius: 6px;
    border-left: 6px solid rgb(240, 180, 41);
    height: 100%;
    padding: 30px 15px 15px 15px;
    box-sizing: border-box;
}

.content-container {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}

.card-title {
    font-weight: 600;
    font-size: .9rem;
}

.card-content {
    font-size: .8rem;
    color: rgb(99, 99, 99);
}

.icons {
    justify-self: end;
    align-self: end;
}

.icon {
    fill: rgb(51, 51, 51);
    padding: 5px;
    width: 17px;
}

.icon:hover {
    background-color: rgb(209, 209, 209);
    border-radius: 50%;
    scale: .9;
}

hr {
    border: none;
    height: 1px;
    background-color: rgb(207, 207, 207);
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-right: 25px;
    padding: 20px 0 10px 0;
}

.ann-click {
    background-color: white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.199);
    border-radius: 6px;
    height: 100%;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}

.post {
    padding: 10px 5px 10px 5px;
}

.a-title,
.t-title {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 5px;
}

.post-title {
    font-weight: 600;
    font-size: .8rem;
}

.post-text {
    font-size: .7rem;
    color: rgb(99, 99, 99);
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-right: 25px;
    padding: 20px 0 50px 0;
}